<%-include("partials/header");-%>

<div class="card-pet about-card">

<h1>Cuidamos a tus mascotas, de la mejor manera y lo mas profesionalmente</h1>
<p>Con mas de 20 años realizando lo que mas nos gusta</p>
</div>

