<%-include("partials/header");-%>
<div class="nopatient-container">
    <h2>No se ha encontrado el paciente que busca. (Legajo: <%= legajo %>)</h2>

    <div class="btn-consultar-div">

    <form action="/consultar">
        <input class="btn btn-consultar btn-danger btn-large" type="submit" value="Seguir buscando" />
    </form>
    
</div>
</div>